<div class="container">

  <div class="row box-cadastro">
  <div class="col-12">
    
  <h1 class="text-center"> {{ title }} </h1>
  
  <form class="mt-5 form" (ngSubmit)='cadastro()' [formGroup]='formCadastro'>
  
    <div class="form-group">
      <input formControlName="nome" type="text" class="form-control cadastro" id="nomeid" placeholder="Nome" required autofocus />
    </div>
    
    <div class="form-group">
      <input formControlName="funcao" type="text" class="form-control cadastro" id="funcaoid" placeholder="Função" required />
    </div>
    
    <div class="form-group">
      <input formControlName="empresa" type="text" class="form-control cadastro" id="empresaid" placeholder="Empresa" required />
    </div>
    
    <button type="submit" class="btn btn-primary btn-cadastro">Cadastrar</button>
  
  </form>
  
  </div>
  </div>
  
  <button class="btn btn-primary btn-back" routerLink="/home">Voltar</button>
</div>