<div class="container">
    <div class="text-center box-embarque">
    <h1 class="text-center"> {{ title }} </h1>
    <hr>
    
    <form [formGroup]='formEmbarque'>
        <table>
            <div class="form-group">
                <tr>
                    <th>
                        <input type="text" id="matriculaid" class="form-control" required (change)='selectid()' placeholder="Matricula" autofocus/>
                    </th>
                <th>
                </th>
                    <th>
                        <input type="text" id="nomeid" class="form-control" placeholder="Nome" readonly />
                    </th>
                </tr>
            </div>
        </table>
        <table>
            <div class="form-group">
                <tr>
                    <th>
                        <input type="date" id="embarqueid" class="form-control" [readonly]=embarqueEdit />
                    </th>
                    <th>
                        <button class="btn btn-primary btn-embarque" type="submit" (click)='embarque()' [disabled]=embarqueEdit >Embarcar</button>                        
                    </th>
                </tr>
            </div>
        </table>
        <table>
            <div class="form-group">
                <tr>
                    <th>
                        <input type="date" id="desembarqueid" class="form-control" [readonly]=desembarqueEdit />
                    </th>
                    <th>
                        <button class="btn btn-primary btn-embarque" type="submit" (click)='desembarque()' [disabled]=desembarqueEdit >Desembarcar</button>
                    </th>
                </tr>
            </div>
        </table>
    </form>
    <hr>

    <app-lista-embarque></app-lista-embarque>    
    <button class="btn btn-primary btn-back" routerLink="/home">Voltar</button>
</div>